body {
    margin: 0;
}
.header_wrapper {
    display: block;
    margin: 0 auto;
}
.footer_md {
    display: none;
}
.img_md{
    display: none;
}
.bg33{
    display: none;
}
.footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-info {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #FFAB00;
    box-sizing: border-box;
    position: relative;
}
.circle_static {
    position: absolute;
    top: 80px;
    left: 306px;
    width: 1280px;
    z-index: 3;
}
.bg_image_first {
    width: 100%;
    z-index: 0;
}

.phone_image_lg {
    z-index: 1;
    display: block;
    position: absolute;
    width: 30%;
    bottom: -200px;
}
.header-nav {
    display: flex;
    margin-right: 100px;
    align-items: center;
}
.header-desk {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    display: flex;
    margin-left: 32px;
    text-decoration: none;
}
.header-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    color: #FFAB00;
    background-color: #FFFFFF;
    padding: 8px 25px;
    border-radius: 100px;
    margin-left: 20px;
}
.items-icon {
    width: 22px;
    height: 22px;
    margin-top: 20px;
}
.img_header {
    margin-right: 8px;
}
.phone_card {
    display: flex;
    justify-content: center;
    position: relative;
}
.messeges_wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 300px;
}
.menu_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}
.menu_info {
    margin-left: 155px;
}
.color-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FF9C01
}
.menu_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-right: 10px;
}
.menu-desk {
    width: 560px;
    margin-bottom: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #768C9B;
}
.menu_logo {
    margin-left: 20px;
}
.menu_wrapper2 {

    width: 100%;
    height: 100%;
    position: relative;
}
.img_bg {
    width: 100%;
}
.header-flex{
    display: none;
}
.img_phone_menu {
    position: absolute;
    right: 0;
    height: calc(100% + 140px);
    bottom: 3px;
}
.menu_phone {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    top: 170px;
    left: 165px;
    width: 539px;
    font-size: 40px;
}
.menu_phone_desk {
    position: absolute;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    top: 335px;
    left: 165px;
    width: 676px;
}
.phone_uppercase {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}
.phone_info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 50px;
}
.info_wrapper {
    position: absolute;
    top: 448px;
    left: 165px;
    display: flex;
}
.map_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 140px;
}
.map_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-right: 10px;
    width: 570px;
}
.map_desk {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #4E5C66;
    width: 450px;
}
.delivery_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.img_bg_delivery {
    width: 100%;
}
.img_delivery_menu {
    position: absolute;
    left: 353px;
    height: calc(100% + 100px);
    bottom: -70px;
}
.delivery_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.delivery_desk {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    width: 451px;
}
.delivery_text_menu {
    position: absolute;
    top: 175px;
    left: 1100px;
}
.img_phone-new {
    display: none;
}
.cook_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.cook_girl {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}
.cook_form {
    margin-top: 180px;
    width: 445px;
}
.phone_reviews {
    position: absolute;
    left: 190px;
    height: 700px;
    bottom: 35px;

}
.reviews_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.reviews_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 98.9%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.reviews_desk-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    width: 407px;
}
.bg_image_first_md{
    display: none;
}
.reviews_desk {

    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    width: 445px;
}
.reviews {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    color: #FFFFFF;
    position: absolute;
    top: 350px;
    right: 50px;
    width: 100%;
}
.reviews_text {
    position: absolute;
    top: 100px;
    left: 950px;
}
.form {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.form_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 98.9%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #414141;
    margin: 0;
}
.form_wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    max-width: 1100px;
    padding: 30px;
}
.form_desk {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #414141;
}
.input_center {
    width: 255px;
    height: 41px;
    background: #EEEFF2;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4E5C66;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid #eee;
    padding-left: 10px;
}
.input {
    width: 255px;
    height: 41px;
    background: #EEEFF2;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4E5C66;
    border: 2px solid #eee;
    padding-left: 10px;
}
.form_block {
    display: flex;
}
.form_column {
    display: flex;
    flex-direction: column;
}
.form_row {
    display: flex;
}
.input_button {
    width: 195px;
    height: 69px;
    background: #F7620F;
    border-radius: 8px;
    padding: 13px 11px 11px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    margin-left: 30px;
}
.forms {
    display: none;
}
.logo {
    display: none;
}
.img_delivery_md {
    display: none;
}
.footer {
    background: #FFAB00;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 165px;
}
.acor-container {
    margin: 20px 0;
    width: 578px;
}
.acor-container .acor-body {
    width: 100%;
    margin: 0 auto;
    height: 0;
    color: black;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
    cursor: pointer;
    background-color: white;
    display: block;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    margin: 0 0 5px;
    transition: color .35s;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 170%;
    color: #4E5C66;
}
.acor-container label:hover {
    color: black;
}
.acor-container input {
    display: none;
}
.acor-container label:before {
    content: '\003E';
    float: right;
    color: #FF9C01;
}
.acor-container input:checked + label {
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}
.acor-desk {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: #4E5C66;
}
.header_flex {
    display: none;
}
.phone_image_md {
    display: none;
}
.bg_first_section_md {
    display: none;
}
.bounce_rectangle_1, .bounce_rectangle_2, .bounce_rectangle_3 {
    position: absolute;
    animation: bounce 3s linear infinite;
    z-index: 3;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}
.bounce_rectangle_1 {
    top: 500px;
    left: 600px;
}
.bounce_rectangle_2 {
    right: 500px;
    top: 550px;
}
.bounce_rectangle_3 {
    top: 300px;
    right: 506px;
}
.img_phone {
    display: none;
}
@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
    .bounce_rectangle_3 {
        top: 163px;
        right: 338px;
        width: 124px;
    }
    .header-desk {
        margin-left: 0px;
        margin-right: 20px;
    }
    .bounce_rectangle_2 {
        right: 550px;
        top: 50px;
    }
    .header-nav {
        display: flex;
        margin: 0;
    }
    .bounce_rectangle_1 {
        top: 243px;
        left: 427px;
    }
    .circle_static {
        top: 29px;
        left: 264px;
        width: 730px;
        z-index: 3;
    }

    .header_wrapper {
        width: 100%;
    }

    .phone_card {
        width: 100%;
    }

    .messeges_wrapper {
        display: flex;
        flex-direction: column;
        align-items: end;
        right: 20px;
        position: absolute;
        height: 100%;
        justify-content: center;
        top: auto;
    }

    .phone_second {
        width: 100%;
    }

    .menu_info {
        margin: 0;
        width: 70%;
        box-sizing: border-box;
        padding-left: 30px;
    }

    .map_title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }
    .img_delivery_menu {
        display: none;
    }
    .img_delivery_md{
        position: absolute;
        top: 71px;
        left: 218px;
        width: 229px;
        display: block;
    }
    .delivery_text_menu {
        position: absolute;
        top: 90px;
        left: 530px;
    }
    .delivery_title {
        font-size: 16px;
    }
    .cook_title {
        font-size: 16px;
    }
    .cook_girl {
        display: flex;
        justify-content: center;
    }
    .reviews_title {
        font-size: 16px;
    }
    .reviews_desk-title{
        font-size: 14px;
        width: 547px;
    }
    .reviews_desk {
        width: 581px;
        font-size: 14px;
    }
    .reviews {
        top: 219px;
        right: 0px;
    }
    .phone_reviews {
        display: none;
    }
    .form_row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form_row input{
        width: 100%;
        margin: 0 0 15px 0;
        box-sizing: border-box;
    }
    .form{
        display: none;
    }
    .form_title {
        font-size: 16px;
    }
    .input_center {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .input_button{
        margin-top: 15px;
    }
    .reviews_text {
        top: 55px;
        left: 100px;
    }
    .cook_form {
        margin-top: 0;
    }
    .cook {
        display: none;
    }
    .footer {
        margin-top: 400px;
    }
    .delivery_desk{
        font-size: 14px;
        width: 351px;
    }
    .form_wrapper {
        max-width: 450px;
    }
    .forms{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 314px;
        width: 100%;
    }
    .menu_wrapper {
        margin-top: 85px;
        width: 100%;
        padding-left: 113px;
        padding-right: 116px;
        box-sizing: border-box;

    }
    .menu_img{
        width: 30%;
    }
    .buttons {
        margin-right: 15px;
    }
    .menu_title {
        font-size: 16px;
    }
    .map_wrapper {
        display: flex;
        margin-top: 30px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    .map_desk {
        width: 618px;
    }
    .logo{
        margin-left: 15px;
        width: 20px;
        display: inline-block;
    }

    .menu-desk {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #768C9B;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
    }
.menu_button{
    margin-top: 10px;
}
    .img_phone_menu {
        display: none;
    }

    .img_phone {
        display: block;
        position: absolute;
        bottom: 0;
        right: 16%;
        width: 22%;
        height: auto;
    }

    .bg_first_section_lg {
        display: none;
    }

    .menu_phone {
        font-size: 16px;
    }

    .menu_logo {
        display: none;
    }

    .color-title {
        font-size: 16px;
    }

    .bg_first_section_md {
        display: block;
    }

    .buttons {
        width: 34%;
    }

    .header-desk_text {
        display: none;
    }

    .header_flex {
        display: block;
    }

    .header-info {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 14px;
        padding-right: 130px;
    }

    .footer-nav {
        display: flex;
        margin-right: 100px;
        width: 400px;
        justify-content: space-between;
        align-items: center;
    }

    .header_flex_menu {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        align-items: center;
    }

    .phone_image_md {
        display: block;
        z-index: 1;
        position: absolute;
        width: 30%;
        bottom: 10px;
    }

    .phone_image_lg {
        display: none;
    }

    .menu_phone_desk {
        width: 450px;
        font-size: 14px;
        top: 217px;
    }
    .info_wrapper {
        top: 389px;
    }


}




@media screen and (max-width: 1000px) {
    .container {
        width: 720px;
    }
    .footer {
        margin-top: 500px;
    }
    .reviews_text {
        top: 0px;
        left: 210px;
    }
    .forms {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 265px;
        width: 100%;
    }
    .img_delivery_md {
        top: 16px;
        left: 168px;
    }
    .delivery_text_menu {
        top: 45px;
        left: 430px;
    }
    .delivery_desk {
        font-size: 14px;
        width: 62%;
    }
    .menu_phone{
        top: 105px;
        left: 140px;
    }
    .menu_phone_desk{
        top: 155px;
        left: 140px;
    }
    .info_wrapper{
        top: 305px;
        left: 130px;
    }
    .circle_static{
        left: 148px;
    }
    .bounce_rectangle_1 {
        top: 243px;
        left: 320px;
    }
    .bounce_rectangle_2 {
        right: 480px;
        top: 34px;
    }
    .bounce_rectangle_3 {
        top: 163px;
        right: 256px;
        width: 110px;
    }

}

@media screen and (max-width: 964px) {
    .circle_static{
        width: 662px;
    }
    .bounce_rectangle_1 {
        width: 74px;
    }
    .info_wrapper {
        top: 270px;
        left: 70px;
    }
    .bounce_rectangle_3 {
        top: 184px;
        right: 289px;
        width: 82px;
    }
    .bounce_rectangle_2 {
        right: 714px;
        top: 29px;
    }
    .phone_uppercase {
        font-size: 20px;
    }
    .phone_info {
        font-size: 14px;
    }
    .menu_phone_desk {
        top: 145px;
        left: 70px;
    }
    .menu_phone {
        top: 87px;
        left: 70px;
    }
}

@media screen and (max-width: 900px) {
    .circle_static {
        width: 619px;
    }
    .phone_uppercase {
        font-size: 20px;
        top: 284px;
    }
    .phone_info {
        font-size: 14px;
        top: 280px;
    }
    .bounce_rectangle_1 {
        top: 224px;
        left: 290px;
    }
    .bounce_rectangle_3 {
        top: 164px;
        right: 242px;
        width: 82px;
    }
    .bounce_rectangle_2 {
        right: 714px;
        top: 75px;
    }
    .reviews_text {
        top: 8px;
        left: 135px;
    }
    .img_delivery_md {
        top: 28px;
        left: 168px;
        width: 200px;
    }
    .bg2{
        display: none;
    }
}

@media screen and (max-width: 840px) {
    .circle_static {
        width: 548px;
    }
    .bounce_rectangle_2 {
        right: 551px;
        top: 45px;
        width: 50px;
    }
    .bounce_rectangle_1 {
        top: 208px;
        left: 257px;
        width: 50px;
    }
    .bounce_rectangle_3 {
        top: 164px;
        right: 248px;
        width: 56px;
    }
    .delivery_desk {
        font-size: 14px;
        width: 90%;
    }
    .img_delivery_md {
        top: 28px;
        left: 160px;
        width: 170px;
    }
    .bg33 {
        width: 100%;
        display: block;
    }

    .footer {
        margin-top: 330px;
    }

}


@media screen and (max-width: 768px) {
    .menu_phone_desk {
        top: 132px;
        left: 25px;
    }
    .menu_phone {
        top: 75px;
        left: 25px;
    }
    .info_wrapper {
        top: 254px;
        left: 20px;
    }
    .img_delivery_md {
        top: 36px;
        left: 158px;
        width: 155px;
    }
    .delivery_desk {
        font-size: 12px;
        width: 101%;
    }

}


@media screen and (max-width: 320px) {
    .bounce_rectangle_3{
        display: none;
    }
    .bounce_rectangle_2{
        display: none;
    }
    .bounce_rectangle_1{
        display: none;
    }

    .circle_static{
        display: none;
    }
    .header-button{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .header_flex_menu {
        display: none;
    }
    .header-info{
        padding: 0;
        margin: 0;
    }
    .header-flex {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .headerLogo{
        width: 25px;
    }
    .items-icon {
        width: 18px;
    }
    .messeges_wrapper{
        right: 5px;
    }
    .bg_image_first_md{
        width: 100%;
        display: flex;
        z-index: 0;
    }
    .bg_image_first{
        display: none;
    }
    .phone_image_md{
        width: 73%;
    }
    .form_wrapper {
        max-width: 100%;
        box-shadow: none;
    }
    .phone_second{
        display: none;
    }
    .menu_info {
        padding: 0;
        margin-bottom: 220px;
    }
    .menu_wrapper {
        width: 100%;
        padding-left: 0;
        box-sizing: border-box;
        padding-right: 0;
        margin-top: 20px;
    }
    .img_phone-new {
        position: absolute;
        display: block;
        right: 18%;
        width: 63%;
        bottom: 221px;
        height: auto;
    }
    .menu_phone {
        top: 185px;
        left: 10px;
        font-size: 13px;
    }
    .phone_info {
        font-size: 13px;
        margin-right: 30px;
    }
    .color-title {
        font-size: 13px;
    }
    .menu_title {
        font-size: 13px;
        width: 58%;
    }
    .map_title {
        width: 50%;
        font-size: 13px;
    }
    .map {
        width: 90%;
    }
    .map_desk {
        width: 100%;
    }

    .menu_phone_desk {
        width: 100%;
        font-size: 13px;

    }
    .menu_phone_desk {
        top: 233px;
        left: 10px;
    }

    .footer {
        margin-top: 570px;
    }
    .footer_logo{
        display: none;
    }
    .footer-nav{
        display: none;
    }
    .info_wrapper {
        top: 365px;
        left: 10px;
    }
.header-flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
    .menu_img {
        width: 10%;
    }
    .buttons {
        width: 42%;
    }
    .phone_second {
        display: none;
    }
    .img_phone{
        display: none;
    }

.bg_first_section_md{
    display: none;
}
    .menu_info{
        width: 100%;
    }
    .menu-desk{
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) {
    .circle_static{
        display: none;
    }
}



































